<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Création article</title>

</head>

<body class="bg-dark container mt-5">
	
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home">WebShop</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="/home">Accueil</a>
					<a class="nav-link" href="/users">Liste des utilisateurs</a>
					<a class="nav-link" href="/roles">Liste des rôles</a>
					<a class="nav-link" href="/articles">Liste des articles</a>
				</div>
			</div>
		</div>
	</nav>

    <h1 class="text-light mb-4">Créer un article :</h1>

    <div class="mb-3">
        <div th:text="${errorString}" class="text-danger"></div>
    </div>

    <form action="/article-create" method="post" th:object="${createArticle}">
        <div class="mb-3">
            <input id="id" readonly="readonly" type="hidden" name="idArticle" class="form-control"
                th:value="${createArticle.idArticle}" />
        </div>
        <div class="mb-3">
            <label for="brand" class="text-light form-label">Marque : </label>
            <input id="brand" type="text" name="brand" class="form-control" th:value="${createArticle.brand}" />
            <p th:errors="*{brand}" class="text-danger">Erreur de marque</p>
        </div>
        <div class="mb-3">
            <label for="description" class="text-light form-label">Description : </label>
            <input id="description" type="text" name="description" class="form-control"
                th:value="${createArticle.description}" />
            <p th:errors="*{description}" class="text-danger">Erreur de description</p>
        </div>
        <div class="mb-3">
            <label for="price" class="text-light form-label">Prix : </label>
            <input id="price" type="number" step="0.01" name="price" class="form-control"
                th:value="${createArticle.price}" />
            <p th:errors="*{price}" class="text-danger">Erreur de prix</p>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-success" value="Sauvegarder" />
            <a href="/articles" class="btn btn-secondary">Annuler</a>
        </div>
    </form>

</body>

</html>
