<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Articles</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<form th:object="${article}" th:action="@{/webshop/article/search}">
		<input type="text" name="partDescription" id="partDescription" th:value="${partDescription}"/>
        <input type="submit" value="Search"/>
        <table th:unless="${#lists.isEmpty(partDescription)}">
		  <thead>
		    <tr>
		      <th>Id</th>
		      <th>Description</th>
		      <th>Marque</th>
		      <th>Prix</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="article : ${articles}">
		      <td th:text="${article.idArticle}">id</td>
		      <td th:text="${article.description}">description</td>
		      <td th:text="${article.brand}">brand</td>
		      <td th:text="${article.unitaryPrice}">unitaryPrice</td>
	    	</tr>
  		</tbody>
	  </table>
	</form>
	
	<table th:if="${#lists.isEmpty(partDescription)}">
	  <thead>
	    <tr>
	      <th>Id</th>
	      <th>Description</th>
	      <th>Marque</th>
	      <th>Prix</th>
	      <th colspan="2">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="article : ${articles}">
	      <td th:text="${article.idArticle}">id</td>
	      <td th:text="${article.description}">description</td>
	      <td th:text="${article.brand}">brand</td>
		  <td th:text="${article.unitaryPrice}">unitaryPrice</td>
		  <td><a th:href="@{/webshop/article/delete/{idArticle}(idArticle=${article.idArticle})}" th:text="supprimer">supprimer</a></td>
	      <td><a th:href="@{/webshop/article/save/{idArticle}(idArticle=${article.idArticle})}" th:text="modifier">modifier</a></td>
	    </tr>
	  </tbody>
	</table>
	
	<p>
		<a href="/webshop/article/create" th:href="@{/webshop/article/create}" th:text="'créer un article'">créer un article</a>
	</p>
	
	<p>
		<a href="/webshop" th:href="@{/webshop}" th:text="Accueil">Accueil</a>
	</p>
	
</body>
</html>