<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html>

<head>
	<meta charset="UTF-8">
	<title>Mes articles BABIBU</title>
</head>

<body>


	<h1>Mes articles :</h1>
	<div>
		<form action="./article" method="POST">
			<div>
				<input id="recherche" name="recherche" type="text" placeholder="Rechercher" />
				<input for="Rechercher" type="submit" />
			</div>
		</form>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th colspan="">Id</th>
					<th colspan="">Description</th>
					<th colspan="">Brand</th>
					<th colspan="">Price</th>
					<th colspan="">Suppr</th>
					<th colspan="">Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="article:${maListeArticle}">
					<td th:text="${article.idArticle}"></td>
					<td th:text="${article.description}"></td>
					<td th:text="${article.brand}"></td>
					<td th:text="${article.price}"></td>
					<td>
						<!-- <a href="./delete-article?id=4554">supprimer</a> method à transformer en get-->
						<form th:action="@{/delete-article}" th:method="post">
							<input type="hidden" name="id" th:value="${article.idArticle}" />
							<button type="submit">Supprimer</button>
						</form>
					</td>
					<td><a href="articleEdit.html" th:href="@{/article-edit(id=${article.idArticle})} ">Modifier</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>