<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Modifier un Article !</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h2>Modifier un Article</h2>
	<form th:action="@{/article}" th:object="${article}" method="post">


		<input type="hidden" th:field="*{id}" />
		<label for="description">Description d'article</label>
		<input type="text" id="description" th:field="*{description}" />
		<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" classe="error"></span>
		<label for="brand">brand d'article</label>
		<input type="text" id="brand" th:field="*{brand}" />
		<span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" classe="error"></span>
		<label for="unitaryPrice">unitaryPrice d'article</label>
		<input type="text" id="unitaryPrice" th:field="*{unitaryPrice}" />
		<span th:if="${#fields.hasErrors('unitaryPrice')}" th:errors="*{unitaryPrice}" classe="error"></span>
		<button type="submit">Modifier</button>



	</form>
	<a th:href="@{/articles}">retour à la liste des articles</a>



</body>
</html>