<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:if="${editMode}">Modification Utilisateur</title>
	<title th:unless="${editMode}">Création Utilisateur</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home">WebShop</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="/home">Accueil</a>
					<a class="nav-link" href="/users">Liste des utilisateurs</a>
					<a class="nav-link" href="/roles">Liste des rôles</a>
					<a class="nav-link" href="/articles">Liste des articles</a>
				</div>
			</div>
		</div>
	</nav>
	<div th:text="${errorString}">Erreur</div>
	<form th:action="${formAction}" method="post" th:object="${user}">
		<!-- Visible seulement en mode édition -->
		<div th:if="${editMode}">
			<input id="id" readonly type="text" name="idUser" th:value="${user.idUser}">
		</div>
		<!-- Visible en mode création -->
		<div th:unless="${editMode}">
			<input id="id" type="hidden" name="idUser">
			<p th:errors="*{id}"></p>
		</div>
		<div>
			<label for="login">login</label>
			<input id="login" type="text" name="login" th:value="${user.login}">
			<p th:errors="*{login}"></p>
		</div>
		<div>
			<label for="password">mot de passe</label>
			<input id="password" type="text" name="password" th:value="${user.password}">
			<p th:errors="*{password}"></p>
		</div>
		<div>
			<label for="connectionNumber">Numéro de connexion</label>
			<input id="connectionNumber" type="number" name="connectionNumber" th:value="${user.connectionNumber}">
			<p th:errors="*{connectionNumber}"></p>
		</div>
		<div>
			<input type="submit" value="Sauvegarder">
			<a href="/users">Annuler</a>
		</div>
		</form>
</body>

</html>