<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Création Utilisateur</title>
</head>

<body>
	<form action="/user-create" method="post" th:object="${savedUser}">
		<div>
			<label for="id">Id</label>
			<input id="id" readonly type="text" name="idUser" value="Id" th:value="${savedUser.idUser}">
		</div>
		<div>
			<label for="login">login</label>
			<input id="login" type="text" name="login" value="Identifiant" th:value="${savedUser.login}">
		</div>
		<div>
			<label for="password">mot de passe</label>
			<input id="password" type="text" name="password" value="Mot de passe" th:value="${savedUser.password}">
		</div>
		<div>
			<label for="connectionNumber">Numéro de connexion</label>
			<input id="connectionNumber" type="text" name="connectionNumber" value="Numéro de connexion" th:value="${savedUser.connectionNumber}">
		</div>
		<div>
			<input type="submit" value="Créer">
			<a href="/users">Annuler</a>
		</div>
		<ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">erreurs</li>
        </ul>
	</form>
</body>

</html>