<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Users</title>
</head>

<body>

	<table cellspacing="20" style="border-spacing: 0 10px;">
		<thead>
			<tr>ID</tr>
			<tr>Login</tr>
			<tr>Password</tr>
			<tr>number of connection</tr>
			<tr>Modify</tr>
			<tr>Delete</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}">
				<td th:text="${user.idUser}"></td>
				<td th:text="${user.login}"></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.connectionNumber}"></td>
				<td>
					<a th:href="@{'/users/modify/'+${user.idUser}}">Modifier</a>
				</td>
				<td>
					<a th:href="@{'/users/delete/'+${user.idUser}}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>
	</br>
	</br>
	<form th:action="@{/users/search}" method="get">
		<input type="text" name="login" th:placeholder="Rechercher...">
		<input type="submit" value="Rechercher">
	</form>
	</br>
	</br>
	<a th:href="@{'/accueil'}">Retour à la page d'accueil</a>

</body>

</html>