<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >

<head>
<meta charset="UTF-8">
<title>Création Utilisateur</title>
</head>
<body>
	<form>
		<div>
			<label for="id">Id</label>
			<input id="id">
		</div>
		<div>
			<label for="login">login</label>
			<input id="login">
		</div>
		<div>
			<label for="password">mot de passe</label>
			<input id="password">
		</div>
		<div>
			<label for="connectionNumber">Numéro de connexion</label>
			<input id="connectionNumber">
		</div>
		<div>
			<input value="Créer">
			<a>Annuler</a>
		</div>
	</form>
</body>
</html>