<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Users</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<form th:object="${user}" th:action="@{/webshop/user/search}">
		<input type="text" name="partLogin" id="partLogin" th:value="${partLogin}"/>
        <input type="submit" value="Search"/>
        <table th:unless="${#lists.isEmpty(partLogin)}">
		  <thead>
		    <tr>
		      <th>Id</th>
		      <th>Identifiant</th>
		      <th>Mot de passe</th>
		      <th>Numéro connexion</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="user : ${users}">
		      <td th:text="${user.idUser}">id</td>
		      <td th:text="${user.login}">login</td>
		      <td th:text="${user.password}">password</td>
	     	  <td th:text="${user.connectionNumber}">connexionNumber</td>
	     	  <td></td>
	    	</tr>
  		</tbody>
	  </table>
	</form>
	
	<table th:if="${#lists.isEmpty(partLogin)}">
	  <thead>
	    <tr>
	      <th>Id</th>
	      <th>Identifiant</th>
	      <th>Mot de passe</th>
	      <th>Numéro connexion</th>
		  <th colspan="2">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="user : ${users}">
	      <td th:text="${user.idUser}">id</td>
	      <td th:text="${user.login}">login</td>
	      <td th:text="${user.password}">password</td>
	      <td th:text="${user.connectionNumber}">connexionNumber</td>
	      <td><a th:href="@{/webshop/user/delete/{idUser}(idUser=${user.idUser})}" th:text="supprimer">supprimer</a></td>
	      <td><a th:href="@{/webshop/user/save/{idUser}(idUser=${user.idUser})}" th:text="modifier">modifier</a></td>
	    </tr>
	  </tbody>
	</table>

	<p>
		<a href="/webshop/user/create" th:href="@{/webshop/user/create}" th:text="'créer un utilisateur'">créer un utilisateur</a>
	</p>
	
	<p>
		<a href="/webshop" th:href="@{/webshop}" th:text="Accueil">Accueil</a>
	</p>

</body>
</html>