<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >

<head>
<meta charset="UTF-8">
<title>BABIBU</title>
</head>
<body>
	
	
<h1>Mes utilisateurs :</h1>

	<form method="GET" action="/users">
		<label for="login">Rechercher un login : </label>
		<input type="text" name="login" id="login"> 
		<input type="submit" value="Rechercher" >
	</form>
	<br><br>
	 <table border="1">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>password (c'est franchement limite)</th>
            <th>Numéro de connexion</th>
            <th>Actions</th>
        </tr>
       
        <tr th:each="user:${users}" >
            <td th:text="${user.idUser}">a</td>
            <td th:text="${user.login}">b</td>
            <td th:text="${user.password}">c</td>
            <td th:text="${user.connectionNumber}">d</td>
            <td>
				<a>Supprimer</a>
				<span>&nbsp; &nbsp;</span> <!--ajout un espace -->
				<a href="userEdit.html">Modifier</a>
			</td>
        </tr>
    </table>
    
    <h2>Nouvel utilisateur</h2>
    <p><a href="userCreate.html">C'est par ici</a></p>
</body>
</html>